<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <nav class="js-primary-nav">
    <h1>Majestic Thai</h1>
    <ul>
      <li>Appetizers</li>
    </ul>
  </nav>

  <div class="js-category-view">
  </div>

  <div class="js-order-view">
  </div>

  <script type="text/template" id="category-template">
    <h1>Appetizers</h1>
    <ul>
    </ul>
  </script>

  <script type="text/template" id="item-template">
    <h2><%= name %></h2>
    <h3><%= price %></h3>
    <button class="js-add">Add to Order</button>
  </script>

  <script type="text/template" id="order-template">
    <h1>Order</h1>
    <ul>
    </ul>
    <p>Total Price: $<%= totalPrice %></p>
  </script>

  <script type="text/template" id="order-item-template">
    <h2>Cool Food</h2>
    <h3>$1</h3>
    <button>X</button>
  </script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script src="main.js"></script>
</body>
</html>
